*{
   box-sizing: border-box;
}

body,html{
    margin: 0px;
    padding: 0px;
}

.toolbar{
    /* border: 1px solid; */
    height: 100px;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.tool{

}
.tool img{
    height: 50px;
}
.content{
    /* border: 1px solid; */
    height: calc(100vh - 100px);
}


