*{
box-sizing: border-box;
}

html,body{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    border: 1px solid;
    height: 35px;
}
.formula{
    border: 1px solid;
    height: 35px;
}

.file{

}

.home{

}

.menu-options-container{
    border: 1px solid red;
    height: 50px;
}
.file-options{

}
.home-options{

}

.content{
    border: 1px solid;
    height: calc(100vh - 155px);
    overflow: auto;
    position: relative;
}
.cells{
    position: absolute;
    top: 25px;
    left: 30px;
}
.row{
    display: flex;
}
.cell{
    min-height: 25px;
    border: 1px solid;
    min-width: 70px;      
    text-align: center;
}
.sheets{
border: 1px solid green;
    height: 35px;
}

.top-left-cell{
    border: 1px solid;
    height: 25px;
    width: 30px;
    background: lightgray;
    position: absolute;
    z-index: 3;
}
.top-row{
    display: flex;
    position: absolute;
    left: 30px;
    background: lightgreen;
    z-index: 2;
}
.top-row-cell{
    min-height: 25px;
    border: 1px solid;
    min-width: 70px;
    text-align: center;
}
.left-col{
    position: absolute;
    top: 25px;
    background: lightgreen;
    z-index: 2;
}
.left-col-cell{
    border: 1px solid;
    height: 25px;
    width: 30px;
    text-align: center;
}
