*{
box-sizing: border-box;
}

html,body{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    height: 35px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-evenly;
}
.formula{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.file{
    cursor: pointer;
    height: 25px;
    width: 40px;
    text-align: center;
}
.menu-active{
    border-bottom: 5px solid lightgreen;
}

.home{
    cursor: pointer;
    height: 25px;
    width: 40px;
    text-align: center;
}

.file-menu-options{
    display: none;
    width: 200px;
    justify-content: space-around;
}
.home-menu-options{
    display: none;
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.menu-options-active{
    display:flex;
}
.new{
    cursor: pointer;
}
.open{
    cursor: pointer;
}
.save{
    cursor: pointer;
}

.menu-options-container{
    border-top: 1px solid lightgreen;
    height: 50px;
    align-items: center;
    display: flex;
}

.content{
    border: 1px solid;
    height: calc(100vh - 155px);
    overflow: auto;
    position: relative;
}
.cells{
    position: absolute;
    top: 25px;
    left: 30px;
}
.row{
    display: flex;
}
.cell{
    min-height: 25px;
    border: 1px solid;
    min-width: 70px;      
    max-width: 70px;
    text-align: center;
    outline:none;
}
.sheets{
border: 1px solid green;
    height: 35px;
}

.top-left-cell{
    border: 1px solid;
    height: 25px;
    width: 30px;
    background: lightgray;
    position: absolute;
    z-index: 3;
}
.top-row{
    display: flex;
    position: absolute;
    left: 30px;
    background: lightgreen;
    z-index: 2;
}
.top-row-cell{
    min-height: 25px;
    border: 1px solid;
    min-width: 70px;
    text-align: center;
}
.left-col{
    position: absolute;
    top: 25px;
    background: lightgreen;
    z-index: 2;
}
.left-col-cell{
    border: 1px solid;
    height: 25px;
    width: 30px;
    text-align: center;
}

.active{
    border: 1px solid lightgreen;
}

.cell-formatting{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cell-font-name{

}

.cell-text-style{
    display: flex;
}

.bold{

}
.underline{

}
.italic{

}
.cell-style{
    border-left: 1px solid;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cell-font-size{

}
.cell-color{
    display: flex;
}
.cell-alignment{
    display: flex;
    border-left: 1px solid;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
}
.left{

}
.centre{

}
.right{

}